body {
  margin: 0px;
  overflow: hidden;
  background-color: #c7ecff;
}

path {
  fill: #fffee8; 
  stroke: #224f7c;
  stroke-width: 0.6;
  stroke-opacity: .5;
  transition: 0.3s;
}

path:hover {
  fill: #ffbb00;
  transition: 0.3s;
}


#div1{
  float:left;
  width:40%;
  height:100%;
  border:1px dotted#9fb3b5;
}

#div2{
  float:left;
  width:40%;
  height:100%;
  border:1px dotted#9fb3b5;
}

svg{
  float:left;
}

svg g {
  width: 600%;
 height: 600%;
}